<!DOCTYPE html>
<html ng-app="App">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Angular Example</title>
        <link rel="stylesheet" href="./node_modules/bootstrap3/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="./node_modules/bootstrap3/dist/css/bootstrap-theme.min.css" />
    </head>
    <body ng-controller="mainController">
        <div class="container">
            <div class="row">
                <h2>Library</h2>
                <div class="col-sm-3 col-md-3">
                    <h3>Categories</h3>
                    <div class="bar">
                        <input type="text" class="form-control" placeholder="Search applets" ng-model="search" />
                    </div>
                    <br />
                    <ul class="list-group">
                        <li ng-repeat="category in categories" class="list-group-item">
                            <span class="badge">{{category.value}}</span>
                            <a href="#">{{category.category}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9 col-md-9">
                    <h3>Applets</h3>
                    <div class="well">...</div>
                    <div class="well">...</div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="./node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./node_modules/bootstrap3/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./app.js"></script>
</html>